esf.version.scanToNet 4.9.23.3
esf.scanToNet.home.text "0"
esf.scanToNet.home.text.override ""
esf.scanToNet.home.iconUp "0"
esf.scanToNet.home.iconUp.override ""
esf.scanToNet.home.iconDown "0"
esf.scanToNet.home.iconDown.override ""
esf.scanToNet.home.displayOption "0"
esf.scanToNet.scanToNet.instanceCounter "2"
esf.scanToNet.NTv4Compatibility "false"
esf.scanToNet.SMBv3Compatibility "false"
esf.scanToNet.inst.1.appId "scanToNet"
esf.scanToNet.inst.1.instanceId "2"
esf.scanToNet.inst.1.name "Scanner"
esf.scanToNet.inst.1.fileName "Digitalizar"
esf.scanToNet.inst.1.uEntrFileName "false"
esf.scanToNet.inst.1.fldrNav "false"
esf.scanToNet.inst.1.printConfm "1"
esf.scanToNet.inst.1.appTimeStmp "true"
esf.scanToNet.inst.1.ovrWrite "true"
esf.scanToNet.inst.1.enXmlInd "false"
esf.scanToNet.inst.1.fldrCrtn "false"
esf.scanToNet.inst.1.stUnameFldr "false"
esf.scanToNet.inst.1.emailTo ""
esf.scanToNet.inst.1.emailToSubject ""
esf.scanToNet.inst.1.emailToSubStatus "true"
esf.scanToNet.inst.1.showThumbnail "7"
esf.scanToNet.inst.1.scnPr "3"
esf.scanToNet.inst.1.autocrop.unlock "false"
esf.scanToNet.inst.1.autocrop "0"
esf.scanToNet.inst.1.despeckle.unlock "false"
esf.scanToNet.inst.1.despeckle "0"
esf.scanToNet.inst.1.deskew.unlock "false"
esf.scanToNet.inst.1.deskew "0"
esf.scanToNet.inst.1.autoBlankPageRemoval.unlock "false"
esf.scanToNet.inst.1.autoBlankPageRemoval "0"
esf.scanToNet.inst.1.autoBlankPageRemovalTolerance "5"
esf.scanToNet.inst.1.ocrAdjustments.language.en "1"
esf.scanToNet.inst.1.frenchOcrLanguage "0"
esf.scanToNet.inst.1.germanOcrLanguage "0"
esf.scanToNet.inst.1.spanishOcrLanguage "0"
esf.scanToNet.inst.1.italianOcrLanguage "0"
esf.scanToNet.inst.1.portugueseOcrLanguage "0"
esf.scanToNet.inst.1.danishOcrLanguage "0"
esf.scanToNet.inst.1.dutchOcrLanguage "0"
esf.scanToNet.inst.1.norwegianOcrLanguage "0"
esf.scanToNet.inst.1.swedishOcrLanguage "0"
esf.scanToNet.inst.1.finnishOcrLanguage "0"
esf.scanToNet.inst.1.hungarianOcrLanguage "0"
esf.scanToNet.inst.1.polishOcrLanguage "0"
esf.scanToNet.inst.1.ocrAdjustments.ocrAdditionalProcessing.unlock "false"
esf.scanToNet.inst.1.autoRotateOcr "0"
esf.scanToNet.inst.1.inverseDetectionOcr "1"
esf.scanToNet.inst.1.despeckleOcrOcr "0"
esf.scanToNet.inst.1.autoContrastEnhanceOcr "0"
esf.scanToNet.inst.1.childPrefix ""
esf.scanToNet.inst.1.customPromptEnable "false"
esf.scanToNet.inst.1.enable1stPageBarcode "false"
esf.scanToNet.inst.1.barcodeTemplate1st ""
esf.scanToNet.inst.1.enableOtherPageBarcode "false"
esf.scanToNet.inst.1.barcodeTemplateOther ""
esf.scanToNet.inst.1.customFilenameEnable "false"
esf.scanToNet.inst.1.customFilenameSelected ""
esf.scanToNet.inst.1.pageBreakEnable "false"
esf.scanToNet.inst.1.includePage "false"
esf.scanToNet.inst.1.pageBreakOptions "0"
esf.scanToNet.inst.1.staticBreakVal "0"
esf.scanner.inst.1.appId "scanToNet"
esf.scanner.inst.1.instanceId "2"
esf.scanner.inst.1.originalMediaSize.unlock "true"
esf.scanner.inst.1.originalMediaSize.dynamic "4"
esf.scanner.inst.1.orientation.unlock "true"
esf.scanner.inst.1.orientation "0"
esf.scanner.inst.1.scanDuplex.unlock "true"
esf.scanner.inst.1.scanDuplex "0"
esf.scanner.inst.1.contentType.unlock "true"
esf.scanner.inst.1.contentType.dynamic "0"
esf.scanner.inst.1.fileFormat.unlock "true"
esf.scanner.inst.1.fileFormat "2"
esf.scanner.inst.1.pdfVersion.unlock "true"
esf.scanner.inst.1.pdfVersion "3"
esf.scanner.inst.1.resolution.unlock "true"
esf.scanner.inst.1.resolution "300"
esf.scanner.inst.1.color.unlock "true"
esf.scanner.inst.1.color "0"
esf.scanner.inst.1.scanPreview.unlock "false"
esf.scanner.inst.1.scanPreview "0"
esf.scanner.inst.1.jobBuild.unlock "false"
esf.scanner.inst.1.jobBuild "0"
esf.scanner.inst.1.edgeToEdge.unlock "true"
esf.scanner.inst.1.edgeToEdge "0"
esf.scanner.inst.1.contrast.unlock "true"
esf.scanner.inst.1.contrast "-1"
esf.scanner.inst.1.darkness.unlock "true"
esf.scanner.inst.1.darkness "5"
esf.scanner.inst.1.shadowDetail.unlock "true"
esf.scanner.inst.1.shadowDetail "0"
esf.scanner.inst.1.backgroundRemoval.unlock "true"
esf.scanner.inst.1.backgroundRemoval "0"
esf.scanner.inst.1.parentCode ""
esf.cifs.inst.1.appId "scanToNet"
esf.cifs.inst.1.instanceId "2"
esf.cifs.inst.1.cifs.address "\\172.16.0.78\Usuarios\ESG - Sustentabilidade e Responsabilidade\Compartilhado\Scanner"
esf.cifs.inst.1.cifs.ldapPathAttribute ""
esf.cifs.inst.1.cifs.ldapUseridAttribute ""
esf.cifs.inst.1.cifs.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.1.cifs.ldapPathSuffix ""
esf.cifs.inst.1.cifs.domain ""
esf.cifs.inst.1.cifs.winsServer ""
esf.cifs.inst.1.cifs.brdAddr ""
esf.cifs.inst.1.cifs.isKerberos "false"
esf.cifs.inst.1.cifs.authOptions "3"
esf.cifs.inst.1.cifs.uName "copymaq"
esf.cifs.inst.1.cifs.pwd ""
esf.cifs.inst.1.cifs.fldrCrtn "false"
esf.cifs.inst.1.cifs.testUserPermissions "true"
esf.cifs.inst.1.address ""
esf.cifs.inst.1.ldapPathAttribute ""
esf.cifs.inst.1.ldapUseridAttribute ""
esf.cifs.inst.1.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.1.ldapPathSuffix ""
esf.cifs.inst.1.domain ""
esf.cifs.inst.1.winsServer ""
esf.cifs.inst.1.brdAddr ""
esf.cifs.inst.1.authOptions "0"
esf.cifs.inst.1.uName ""
esf.cifs.inst.1.pwd ""
esf.cifs.inst.1.fldrCrtn "false"
esf.cifs.inst.1.testUserPermissions "false"
esf.cifs.inst.1.parentCode ""
