esf.version.scanToNet 4.9.23.3
esf.scanToNet.home.text "0"
esf.scanToNet.home.text.override ""
esf.scanToNet.home.iconUp "0"
esf.scanToNet.home.iconUp.override ""
esf.scanToNet.home.iconDown "0"
esf.scanToNet.home.iconDown.override ""
esf.scanToNet.home.displayOption "0"
esf.scanToNet.scanToNet.instanceCounter "0"
esf.scanToNet.NTv4Compatibility "false"
esf.scanToNet.SMBv3Compatibility "false"
esf.scanToNet.inst.1.appId "scanToNet"
esf.scanToNet.inst.1.instanceId "5"
esf.scanToNet.inst.1.name "NF-Matriz"
esf.scanToNet.inst.1.fileName "Digitalizar"
esf.scanToNet.inst.1.uEntrFileName "false"
esf.scanToNet.inst.1.fldrNav "true"
esf.scanToNet.inst.1.printConfm "1"
esf.scanToNet.inst.1.appTimeStmp "true"
esf.scanToNet.inst.1.ovrWrite "true"
esf.scanToNet.inst.1.enXmlInd "false"
esf.scanToNet.inst.1.fldrCrtn "false"
esf.scanToNet.inst.1.stUnameFldr "false"
esf.scanToNet.inst.1.emailTo ""
esf.scanToNet.inst.1.emailToSubject ""
esf.scanToNet.inst.1.emailToSubStatus "true"
esf.scanToNet.inst.1.showThumbnail "7"
esf.scanToNet.inst.1.scnPr "3"
esf.scanToNet.inst.1.autocrop.unlock "false"
esf.scanToNet.inst.1.autocrop "0"
esf.scanToNet.inst.1.despeckle.unlock "false"
esf.scanToNet.inst.1.despeckle "0"
esf.scanToNet.inst.1.deskew.unlock "false"
esf.scanToNet.inst.1.deskew "0"
esf.scanToNet.inst.1.autoBlankPageRemoval.unlock "false"
esf.scanToNet.inst.1.autoBlankPageRemoval "0"
esf.scanToNet.inst.1.autoBlankPageRemovalTolerance "5"
esf.scanToNet.inst.1.ocrAdjustments.language.en "1"
esf.scanToNet.inst.1.frenchOcrLanguage "0"
esf.scanToNet.inst.1.germanOcrLanguage "0"
esf.scanToNet.inst.1.spanishOcrLanguage "0"
esf.scanToNet.inst.1.italianOcrLanguage "0"
esf.scanToNet.inst.1.portugueseOcrLanguage "0"
esf.scanToNet.inst.1.danishOcrLanguage "0"
esf.scanToNet.inst.1.dutchOcrLanguage "0"
esf.scanToNet.inst.1.norwegianOcrLanguage "0"
esf.scanToNet.inst.1.swedishOcrLanguage "0"
esf.scanToNet.inst.1.finnishOcrLanguage "0"
esf.scanToNet.inst.1.hungarianOcrLanguage "0"
esf.scanToNet.inst.1.polishOcrLanguage "0"
esf.scanToNet.inst.1.ocrAdjustments.ocrAdditionalProcessing.unlock "false"
esf.scanToNet.inst.1.autoRotateOcr "0"
esf.scanToNet.inst.1.inverseDetectionOcr "1"
esf.scanToNet.inst.1.despeckleOcrOcr "0"
esf.scanToNet.inst.1.autoContrastEnhanceOcr "0"
esf.scanToNet.inst.1.childPrefix ""
esf.scanToNet.inst.1.customPromptEnable "false"
esf.scanToNet.inst.1.enable1stPageBarcode "false"
esf.scanToNet.inst.1.barcodeTemplate1st ""
esf.scanToNet.inst.1.enableOtherPageBarcode "false"
esf.scanToNet.inst.1.barcodeTemplateOther ""
esf.scanToNet.inst.1.customFilenameEnable "false"
esf.scanToNet.inst.1.customFilenameSelected ""
esf.scanToNet.inst.1.pageBreakEnable "false"
esf.scanToNet.inst.1.includePage "false"
esf.scanToNet.inst.1.pageBreakOptions "0"
esf.scanToNet.inst.1.staticBreakVal "0"
esf.scanner.inst.1.appId "scanToNet"
esf.scanner.inst.1.instanceId "5"
esf.scanner.inst.1.originalMediaSize.unlock "true"
esf.scanner.inst.1.originalMediaSize.dynamic "4"
esf.scanner.inst.1.orientation.unlock "true"
esf.scanner.inst.1.orientation "0"
esf.scanner.inst.1.scanDuplex.unlock "true"
esf.scanner.inst.1.scanDuplex "0"
esf.scanner.inst.1.contentType.unlock "true"
esf.scanner.inst.1.contentType.dynamic "0"
esf.scanner.inst.1.fileFormat.unlock "true"
esf.scanner.inst.1.fileFormat "2"
esf.scanner.inst.1.pdfVersion.unlock "true"
esf.scanner.inst.1.pdfVersion "3"
esf.scanner.inst.1.resolution.unlock "true"
esf.scanner.inst.1.resolution "200"
esf.scanner.inst.1.color.unlock "true"
esf.scanner.inst.1.color "1"
esf.scanner.inst.1.scanPreview.unlock "false"
esf.scanner.inst.1.scanPreview "0"
esf.scanner.inst.1.jobBuild.unlock "false"
esf.scanner.inst.1.jobBuild "0"
esf.scanner.inst.1.edgeToEdge.unlock "true"
esf.scanner.inst.1.edgeToEdge "0"
esf.scanner.inst.1.contrast.unlock "true"
esf.scanner.inst.1.contrast "-1"
esf.scanner.inst.1.darkness.unlock "true"
esf.scanner.inst.1.darkness "5"
esf.scanner.inst.1.shadowDetail.unlock "true"
esf.scanner.inst.1.shadowDetail "0"
esf.scanner.inst.1.backgroundRemoval.unlock "true"
esf.scanner.inst.1.backgroundRemoval "0"
esf.scanner.inst.1.parentCode ""
esf.cifs.inst.1.appId "scanToNet"
esf.cifs.inst.1.instanceId "5"
esf.cifs.inst.1.cifs.address "\\172.16.0.40\fs\Usuarios\Pv29\NF-Matriz"
esf.cifs.inst.1.cifs.ldapPathAttribute ""
esf.cifs.inst.1.cifs.ldapUseridAttribute ""
esf.cifs.inst.1.cifs.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.1.cifs.ldapPathSuffix ""
esf.cifs.inst.1.cifs.domain ""
esf.cifs.inst.1.cifs.winsServer ""
esf.cifs.inst.1.cifs.brdAddr ""
esf.cifs.inst.1.cifs.isKerberos "false"
esf.cifs.inst.1.cifs.authOptions "3"
esf.cifs.inst.1.cifs.uName "copymaq"
esf.cifs.inst.1.cifs.pwd ""
esf.cifs.inst.1.cifs.fldrCrtn "false"
esf.cifs.inst.1.cifs.testUserPermissions "true"
esf.cifs.inst.1.address ""
esf.cifs.inst.1.ldapPathAttribute ""
esf.cifs.inst.1.ldapUseridAttribute ""
esf.cifs.inst.1.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.1.ldapPathSuffix ""
esf.cifs.inst.1.domain ""
esf.cifs.inst.1.winsServer ""
esf.cifs.inst.1.brdAddr ""
esf.cifs.inst.1.authOptions "0"
esf.cifs.inst.1.uName ""
esf.cifs.inst.1.pwd ""
esf.cifs.inst.1.fldrCrtn "false"
esf.cifs.inst.1.testUserPermissions "false"
esf.cifs.inst.1.parentCode ""
esf.scanToNet.inst.2.appId "scanToNet"
esf.scanToNet.inst.2.instanceId "6"
esf.scanToNet.inst.2.name "Atendimento"
esf.scanToNet.inst.2.fileName "Digitalizar"
esf.scanToNet.inst.2.uEntrFileName "false"
esf.scanToNet.inst.2.fldrNav "true"
esf.scanToNet.inst.2.printConfm "1"
esf.scanToNet.inst.2.appTimeStmp "true"
esf.scanToNet.inst.2.ovrWrite "true"
esf.scanToNet.inst.2.enXmlInd "false"
esf.scanToNet.inst.2.fldrCrtn "false"
esf.scanToNet.inst.2.stUnameFldr "false"
esf.scanToNet.inst.2.emailTo ""
esf.scanToNet.inst.2.emailToSubject ""
esf.scanToNet.inst.2.emailToSubStatus "true"
esf.scanToNet.inst.2.showThumbnail "7"
esf.scanToNet.inst.2.scnPr "3"
esf.scanToNet.inst.2.autocrop.unlock "false"
esf.scanToNet.inst.2.autocrop "0"
esf.scanToNet.inst.2.despeckle.unlock "false"
esf.scanToNet.inst.2.despeckle "0"
esf.scanToNet.inst.2.deskew.unlock "false"
esf.scanToNet.inst.2.deskew "0"
esf.scanToNet.inst.2.autoBlankPageRemoval.unlock "false"
esf.scanToNet.inst.2.autoBlankPageRemoval "0"
esf.scanToNet.inst.2.autoBlankPageRemovalTolerance "5"
esf.scanToNet.inst.2.ocrAdjustments.language.en "1"
esf.scanToNet.inst.2.frenchOcrLanguage "0"
esf.scanToNet.inst.2.germanOcrLanguage "0"
esf.scanToNet.inst.2.spanishOcrLanguage "0"
esf.scanToNet.inst.2.italianOcrLanguage "0"
esf.scanToNet.inst.2.portugueseOcrLanguage "0"
esf.scanToNet.inst.2.danishOcrLanguage "0"
esf.scanToNet.inst.2.dutchOcrLanguage "0"
esf.scanToNet.inst.2.norwegianOcrLanguage "0"
esf.scanToNet.inst.2.swedishOcrLanguage "0"
esf.scanToNet.inst.2.finnishOcrLanguage "0"
esf.scanToNet.inst.2.hungarianOcrLanguage "0"
esf.scanToNet.inst.2.polishOcrLanguage "0"
esf.scanToNet.inst.2.ocrAdjustments.ocrAdditionalProcessing.unlock "false"
esf.scanToNet.inst.2.autoRotateOcr "0"
esf.scanToNet.inst.2.inverseDetectionOcr "1"
esf.scanToNet.inst.2.despeckleOcrOcr "0"
esf.scanToNet.inst.2.autoContrastEnhanceOcr "0"
esf.scanToNet.inst.2.childPrefix ""
esf.scanToNet.inst.2.customPromptEnable "false"
esf.scanToNet.inst.2.enable1stPageBarcode "false"
esf.scanToNet.inst.2.barcodeTemplate1st ""
esf.scanToNet.inst.2.enableOtherPageBarcode "false"
esf.scanToNet.inst.2.barcodeTemplateOther ""
esf.scanToNet.inst.2.customFilenameEnable "false"
esf.scanToNet.inst.2.customFilenameSelected ""
esf.scanToNet.inst.2.pageBreakEnable "false"
esf.scanToNet.inst.2.includePage "false"
esf.scanToNet.inst.2.pageBreakOptions "0"
esf.scanToNet.inst.2.staticBreakVal "0"
esf.scanner.inst.2.appId "scanToNet"
esf.scanner.inst.2.instanceId "6"
esf.scanner.inst.2.originalMediaSize.unlock "true"
esf.scanner.inst.2.originalMediaSize.dynamic "4"
esf.scanner.inst.2.orientation.unlock "true"
esf.scanner.inst.2.orientation "0"
esf.scanner.inst.2.scanDuplex.unlock "true"
esf.scanner.inst.2.scanDuplex "0"
esf.scanner.inst.2.contentType.unlock "true"
esf.scanner.inst.2.contentType.dynamic "0"
esf.scanner.inst.2.fileFormat.unlock "true"
esf.scanner.inst.2.fileFormat "2"
esf.scanner.inst.2.pdfVersion.unlock "true"
esf.scanner.inst.2.pdfVersion "3"
esf.scanner.inst.2.resolution.unlock "true"
esf.scanner.inst.2.resolution "300"
esf.scanner.inst.2.color.unlock "true"
esf.scanner.inst.2.color "1"
esf.scanner.inst.2.scanPreview.unlock "false"
esf.scanner.inst.2.scanPreview "0"
esf.scanner.inst.2.jobBuild.unlock "false"
esf.scanner.inst.2.jobBuild "0"
esf.scanner.inst.2.edgeToEdge.unlock "true"
esf.scanner.inst.2.edgeToEdge "1"
esf.scanner.inst.2.contrast.unlock "true"
esf.scanner.inst.2.contrast "-1"
esf.scanner.inst.2.darkness.unlock "true"
esf.scanner.inst.2.darkness "5"
esf.scanner.inst.2.shadowDetail.unlock "true"
esf.scanner.inst.2.shadowDetail "0"
esf.scanner.inst.2.backgroundRemoval.unlock "true"
esf.scanner.inst.2.backgroundRemoval "0"
esf.scanner.inst.2.parentCode ""
esf.cifs.inst.2.appId "scanToNet"
esf.cifs.inst.2.instanceId "6"
esf.cifs.inst.2.cifs.address "\\172.16.0.40\fs\Usuarios\Pv29\Atendimento\Compartilhado\Scanner"
esf.cifs.inst.2.cifs.ldapPathAttribute ""
esf.cifs.inst.2.cifs.ldapUseridAttribute ""
esf.cifs.inst.2.cifs.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.2.cifs.ldapPathSuffix ""
esf.cifs.inst.2.cifs.domain ""
esf.cifs.inst.2.cifs.winsServer ""
esf.cifs.inst.2.cifs.brdAddr ""
esf.cifs.inst.2.cifs.isKerberos "false"
esf.cifs.inst.2.cifs.authOptions "3"
esf.cifs.inst.2.cifs.uName "copymaq"
esf.cifs.inst.2.cifs.pwd ""
esf.cifs.inst.2.cifs.fldrCrtn "false"
esf.cifs.inst.2.cifs.testUserPermissions "true"
esf.cifs.inst.2.address ""
esf.cifs.inst.2.ldapPathAttribute ""
esf.cifs.inst.2.ldapUseridAttribute ""
esf.cifs.inst.2.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.2.ldapPathSuffix ""
esf.cifs.inst.2.domain ""
esf.cifs.inst.2.winsServer ""
esf.cifs.inst.2.brdAddr ""
esf.cifs.inst.2.authOptions "0"
esf.cifs.inst.2.uName ""
esf.cifs.inst.2.pwd ""
esf.cifs.inst.2.fldrCrtn "false"
esf.cifs.inst.2.testUserPermissions "false"
esf.cifs.inst.2.parentCode ""
esf.scanToNet.inst.3.appId "scanToNet"
esf.scanToNet.inst.3.instanceId "7"
esf.scanToNet.inst.3.name "Caixa Geral"
esf.scanToNet.inst.3.fileName "Digitalizar"
esf.scanToNet.inst.3.uEntrFileName "false"
esf.scanToNet.inst.3.fldrNav "true"
esf.scanToNet.inst.3.printConfm "1"
esf.scanToNet.inst.3.appTimeStmp "true"
esf.scanToNet.inst.3.ovrWrite "true"
esf.scanToNet.inst.3.enXmlInd "true"
esf.scanToNet.inst.3.fldrCrtn "false"
esf.scanToNet.inst.3.stUnameFldr "false"
esf.scanToNet.inst.3.emailTo ""
esf.scanToNet.inst.3.emailToSubject ""
esf.scanToNet.inst.3.emailToSubStatus "true"
esf.scanToNet.inst.3.showThumbnail "7"
esf.scanToNet.inst.3.scnPr "3"
esf.scanToNet.inst.3.autocrop.unlock "false"
esf.scanToNet.inst.3.autocrop "0"
esf.scanToNet.inst.3.despeckle.unlock "false"
esf.scanToNet.inst.3.despeckle "0"
esf.scanToNet.inst.3.deskew.unlock "false"
esf.scanToNet.inst.3.deskew "0"
esf.scanToNet.inst.3.autoBlankPageRemoval.unlock "false"
esf.scanToNet.inst.3.autoBlankPageRemoval "0"
esf.scanToNet.inst.3.autoBlankPageRemovalTolerance "5"
esf.scanToNet.inst.3.ocrAdjustments.language.en "1"
esf.scanToNet.inst.3.frenchOcrLanguage "0"
esf.scanToNet.inst.3.germanOcrLanguage "0"
esf.scanToNet.inst.3.spanishOcrLanguage "0"
esf.scanToNet.inst.3.italianOcrLanguage "0"
esf.scanToNet.inst.3.portugueseOcrLanguage "0"
esf.scanToNet.inst.3.danishOcrLanguage "0"
esf.scanToNet.inst.3.dutchOcrLanguage "0"
esf.scanToNet.inst.3.norwegianOcrLanguage "0"
esf.scanToNet.inst.3.swedishOcrLanguage "0"
esf.scanToNet.inst.3.finnishOcrLanguage "0"
esf.scanToNet.inst.3.hungarianOcrLanguage "0"
esf.scanToNet.inst.3.polishOcrLanguage "0"
esf.scanToNet.inst.3.ocrAdjustments.ocrAdditionalProcessing.unlock "false"
esf.scanToNet.inst.3.autoRotateOcr "0"
esf.scanToNet.inst.3.inverseDetectionOcr "1"
esf.scanToNet.inst.3.despeckleOcrOcr "0"
esf.scanToNet.inst.3.autoContrastEnhanceOcr "0"
esf.scanToNet.inst.3.childPrefix ""
esf.scanToNet.inst.3.customPromptEnable "false"
esf.scanToNet.inst.3.enable1stPageBarcode "false"
esf.scanToNet.inst.3.barcodeTemplate1st ""
esf.scanToNet.inst.3.enableOtherPageBarcode "false"
esf.scanToNet.inst.3.barcodeTemplateOther ""
esf.scanToNet.inst.3.customFilenameEnable "false"
esf.scanToNet.inst.3.customFilenameSelected ""
esf.scanToNet.inst.3.pageBreakEnable "false"
esf.scanToNet.inst.3.includePage "false"
esf.scanToNet.inst.3.pageBreakOptions "0"
esf.scanToNet.inst.3.staticBreakVal "0"
esf.scanner.inst.3.appId "scanToNet"
esf.scanner.inst.3.instanceId "7"
esf.scanner.inst.3.originalMediaSize.unlock "true"
esf.scanner.inst.3.originalMediaSize.dynamic "4"
esf.scanner.inst.3.orientation.unlock "true"
esf.scanner.inst.3.orientation "0"
esf.scanner.inst.3.scanDuplex.unlock "true"
esf.scanner.inst.3.scanDuplex "0"
esf.scanner.inst.3.contentType.unlock "true"
esf.scanner.inst.3.contentType.dynamic "0"
esf.scanner.inst.3.fileFormat.unlock "true"
esf.scanner.inst.3.fileFormat "2"
esf.scanner.inst.3.pdfVersion.unlock "true"
esf.scanner.inst.3.pdfVersion "3"
esf.scanner.inst.3.resolution.unlock "true"
esf.scanner.inst.3.resolution "300"
esf.scanner.inst.3.color.unlock "true"
esf.scanner.inst.3.color "1"
esf.scanner.inst.3.scanPreview.unlock "false"
esf.scanner.inst.3.scanPreview "0"
esf.scanner.inst.3.jobBuild.unlock "false"
esf.scanner.inst.3.jobBuild "0"
esf.scanner.inst.3.edgeToEdge.unlock "true"
esf.scanner.inst.3.edgeToEdge "1"
esf.scanner.inst.3.contrast.unlock "true"
esf.scanner.inst.3.contrast "-1"
esf.scanner.inst.3.darkness.unlock "true"
esf.scanner.inst.3.darkness "5"
esf.scanner.inst.3.shadowDetail.unlock "true"
esf.scanner.inst.3.shadowDetail "0"
esf.scanner.inst.3.backgroundRemoval.unlock "true"
esf.scanner.inst.3.backgroundRemoval "0"
esf.scanner.inst.3.parentCode ""
esf.cifs.inst.3.appId "scanToNet"
esf.cifs.inst.3.instanceId "7"
esf.cifs.inst.3.cifs.address "\\172.16.0.40\fs\Usuarios\Pv29\Caixa Geral\Compartilhado\Scanner"
esf.cifs.inst.3.cifs.ldapPathAttribute ""
esf.cifs.inst.3.cifs.ldapUseridAttribute ""
esf.cifs.inst.3.cifs.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.3.cifs.ldapPathSuffix ""
esf.cifs.inst.3.cifs.domain ""
esf.cifs.inst.3.cifs.winsServer ""
esf.cifs.inst.3.cifs.brdAddr ""
esf.cifs.inst.3.cifs.isKerberos "false"
esf.cifs.inst.3.cifs.authOptions "3"
esf.cifs.inst.3.cifs.uName "copymaq"
esf.cifs.inst.3.cifs.pwd ""
esf.cifs.inst.3.cifs.fldrCrtn "false"
esf.cifs.inst.3.cifs.testUserPermissions "true"
esf.cifs.inst.3.address ""
esf.cifs.inst.3.ldapPathAttribute ""
esf.cifs.inst.3.ldapUseridAttribute ""
esf.cifs.inst.3.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.3.ldapPathSuffix ""
esf.cifs.inst.3.domain ""
esf.cifs.inst.3.winsServer ""
esf.cifs.inst.3.brdAddr ""
esf.cifs.inst.3.authOptions "0"
esf.cifs.inst.3.uName ""
esf.cifs.inst.3.pwd ""
esf.cifs.inst.3.fldrCrtn "false"
esf.cifs.inst.3.testUserPermissions "false"
esf.cifs.inst.3.parentCode ""
esf.scanToNet.inst.4.appId "scanToNet"
esf.scanToNet.inst.4.instanceId "8"
esf.scanToNet.inst.4.name "Servir"
esf.scanToNet.inst.4.fileName "Digitalizar"
esf.scanToNet.inst.4.uEntrFileName "false"
esf.scanToNet.inst.4.fldrNav "true"
esf.scanToNet.inst.4.printConfm "1"
esf.scanToNet.inst.4.appTimeStmp "true"
esf.scanToNet.inst.4.ovrWrite "true"
esf.scanToNet.inst.4.enXmlInd "false"
esf.scanToNet.inst.4.fldrCrtn "false"
esf.scanToNet.inst.4.stUnameFldr "false"
esf.scanToNet.inst.4.emailTo ""
esf.scanToNet.inst.4.emailToSubject ""
esf.scanToNet.inst.4.emailToSubStatus "true"
esf.scanToNet.inst.4.showThumbnail "7"
esf.scanToNet.inst.4.scnPr "3"
esf.scanToNet.inst.4.autocrop.unlock "false"
esf.scanToNet.inst.4.autocrop "0"
esf.scanToNet.inst.4.despeckle.unlock "false"
esf.scanToNet.inst.4.despeckle "0"
esf.scanToNet.inst.4.deskew.unlock "false"
esf.scanToNet.inst.4.deskew "0"
esf.scanToNet.inst.4.autoBlankPageRemoval.unlock "false"
esf.scanToNet.inst.4.autoBlankPageRemoval "0"
esf.scanToNet.inst.4.autoBlankPageRemovalTolerance "5"
esf.scanToNet.inst.4.ocrAdjustments.language.en "1"
esf.scanToNet.inst.4.frenchOcrLanguage "0"
esf.scanToNet.inst.4.germanOcrLanguage "0"
esf.scanToNet.inst.4.spanishOcrLanguage "0"
esf.scanToNet.inst.4.italianOcrLanguage "0"
esf.scanToNet.inst.4.portugueseOcrLanguage "0"
esf.scanToNet.inst.4.danishOcrLanguage "0"
esf.scanToNet.inst.4.dutchOcrLanguage "0"
esf.scanToNet.inst.4.norwegianOcrLanguage "0"
esf.scanToNet.inst.4.swedishOcrLanguage "0"
esf.scanToNet.inst.4.finnishOcrLanguage "0"
esf.scanToNet.inst.4.hungarianOcrLanguage "0"
esf.scanToNet.inst.4.polishOcrLanguage "0"
esf.scanToNet.inst.4.ocrAdjustments.ocrAdditionalProcessing.unlock "false"
esf.scanToNet.inst.4.autoRotateOcr "0"
esf.scanToNet.inst.4.inverseDetectionOcr "1"
esf.scanToNet.inst.4.despeckleOcrOcr "0"
esf.scanToNet.inst.4.autoContrastEnhanceOcr "0"
esf.scanToNet.inst.4.childPrefix ""
esf.scanToNet.inst.4.customPromptEnable "false"
esf.scanToNet.inst.4.enable1stPageBarcode "false"
esf.scanToNet.inst.4.barcodeTemplate1st ""
esf.scanToNet.inst.4.enableOtherPageBarcode "false"
esf.scanToNet.inst.4.barcodeTemplateOther ""
esf.scanToNet.inst.4.customFilenameEnable "false"
esf.scanToNet.inst.4.customFilenameSelected ""
esf.scanToNet.inst.4.pageBreakEnable "false"
esf.scanToNet.inst.4.includePage "false"
esf.scanToNet.inst.4.pageBreakOptions "0"
esf.scanToNet.inst.4.staticBreakVal "0"
esf.scanner.inst.4.appId "scanToNet"
esf.scanner.inst.4.instanceId "8"
esf.scanner.inst.4.originalMediaSize.unlock "true"
esf.scanner.inst.4.originalMediaSize.dynamic "4"
esf.scanner.inst.4.orientation.unlock "true"
esf.scanner.inst.4.orientation "0"
esf.scanner.inst.4.scanDuplex.unlock "true"
esf.scanner.inst.4.scanDuplex "0"
esf.scanner.inst.4.contentType.unlock "true"
esf.scanner.inst.4.contentType.dynamic "0"
esf.scanner.inst.4.fileFormat.unlock "true"
esf.scanner.inst.4.fileFormat "2"
esf.scanner.inst.4.pdfVersion.unlock "true"
esf.scanner.inst.4.pdfVersion "3"
esf.scanner.inst.4.resolution.unlock "true"
esf.scanner.inst.4.resolution "300"
esf.scanner.inst.4.color.unlock "true"
esf.scanner.inst.4.color "1"
esf.scanner.inst.4.scanPreview.unlock "false"
esf.scanner.inst.4.scanPreview "0"
esf.scanner.inst.4.jobBuild.unlock "false"
esf.scanner.inst.4.jobBuild "0"
esf.scanner.inst.4.edgeToEdge.unlock "true"
esf.scanner.inst.4.edgeToEdge "1"
esf.scanner.inst.4.contrast.unlock "true"
esf.scanner.inst.4.contrast "-1"
esf.scanner.inst.4.darkness.unlock "true"
esf.scanner.inst.4.darkness "5"
esf.scanner.inst.4.shadowDetail.unlock "true"
esf.scanner.inst.4.shadowDetail "0"
esf.scanner.inst.4.backgroundRemoval.unlock "true"
esf.scanner.inst.4.backgroundRemoval "0"
esf.scanner.inst.4.parentCode ""
esf.cifs.inst.4.appId "scanToNet"
esf.cifs.inst.4.instanceId "8"
esf.cifs.inst.4.cifs.address "\\172.16.0.40\fs\Usuarios\Pv29\Servir\Compartilhado\Scanner"
esf.cifs.inst.4.cifs.ldapPathAttribute ""
esf.cifs.inst.4.cifs.ldapUseridAttribute ""
esf.cifs.inst.4.cifs.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.4.cifs.ldapPathSuffix ""
esf.cifs.inst.4.cifs.domain ""
esf.cifs.inst.4.cifs.winsServer ""
esf.cifs.inst.4.cifs.brdAddr ""
esf.cifs.inst.4.cifs.isKerberos "false"
esf.cifs.inst.4.cifs.authOptions "3"
esf.cifs.inst.4.cifs.uName "copymaq"
esf.cifs.inst.4.cifs.pwd ""
esf.cifs.inst.4.cifs.fldrCrtn "false"
esf.cifs.inst.4.cifs.testUserPermissions "true"
esf.cifs.inst.4.address ""
esf.cifs.inst.4.ldapPathAttribute ""
esf.cifs.inst.4.ldapUseridAttribute ""
esf.cifs.inst.4.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.4.ldapPathSuffix ""
esf.cifs.inst.4.domain ""
esf.cifs.inst.4.winsServer ""
esf.cifs.inst.4.brdAddr ""
esf.cifs.inst.4.authOptions "0"
esf.cifs.inst.4.uName ""
esf.cifs.inst.4.pwd ""
esf.cifs.inst.4.fldrCrtn "false"
esf.cifs.inst.4.testUserPermissions "false"
esf.cifs.inst.4.parentCode ""
esf.scanToNet.inst.5.appId "scanToNet"
esf.scanToNet.inst.5.instanceId "3"
esf.scanToNet.inst.5.name "Compras"
esf.scanToNet.inst.5.fileName "Digitalizar"
esf.scanToNet.inst.5.uEntrFileName "false"
esf.scanToNet.inst.5.fldrNav "true"
esf.scanToNet.inst.5.printConfm "1"
esf.scanToNet.inst.5.appTimeStmp "true"
esf.scanToNet.inst.5.ovrWrite "true"
esf.scanToNet.inst.5.enXmlInd "false"
esf.scanToNet.inst.5.fldrCrtn "false"
esf.scanToNet.inst.5.stUnameFldr "false"
esf.scanToNet.inst.5.emailTo ""
esf.scanToNet.inst.5.emailToSubject ""
esf.scanToNet.inst.5.emailToSubStatus "true"
esf.scanToNet.inst.5.showThumbnail "7"
esf.scanToNet.inst.5.scnPr "3"
esf.scanToNet.inst.5.autocrop.unlock "false"
esf.scanToNet.inst.5.autocrop "0"
esf.scanToNet.inst.5.despeckle.unlock "false"
esf.scanToNet.inst.5.despeckle "0"
esf.scanToNet.inst.5.deskew.unlock "false"
esf.scanToNet.inst.5.deskew "0"
esf.scanToNet.inst.5.autoBlankPageRemoval.unlock "false"
esf.scanToNet.inst.5.autoBlankPageRemoval "0"
esf.scanToNet.inst.5.autoBlankPageRemovalTolerance "5"
esf.scanToNet.inst.5.ocrAdjustments.language.en "1"
esf.scanToNet.inst.5.frenchOcrLanguage "0"
esf.scanToNet.inst.5.germanOcrLanguage "0"
esf.scanToNet.inst.5.spanishOcrLanguage "0"
esf.scanToNet.inst.5.italianOcrLanguage "0"
esf.scanToNet.inst.5.portugueseOcrLanguage "0"
esf.scanToNet.inst.5.danishOcrLanguage "0"
esf.scanToNet.inst.5.dutchOcrLanguage "0"
esf.scanToNet.inst.5.norwegianOcrLanguage "0"
esf.scanToNet.inst.5.swedishOcrLanguage "0"
esf.scanToNet.inst.5.finnishOcrLanguage "0"
esf.scanToNet.inst.5.hungarianOcrLanguage "0"
esf.scanToNet.inst.5.polishOcrLanguage "0"
esf.scanToNet.inst.5.ocrAdjustments.ocrAdditionalProcessing.unlock "false"
esf.scanToNet.inst.5.autoRotateOcr "0"
esf.scanToNet.inst.5.inverseDetectionOcr "1"
esf.scanToNet.inst.5.despeckleOcrOcr "0"
esf.scanToNet.inst.5.autoContrastEnhanceOcr "0"
esf.scanToNet.inst.5.childPrefix ""
esf.scanToNet.inst.5.customPromptEnable "false"
esf.scanToNet.inst.5.enable1stPageBarcode "false"
esf.scanToNet.inst.5.barcodeTemplate1st ""
esf.scanToNet.inst.5.enableOtherPageBarcode "false"
esf.scanToNet.inst.5.barcodeTemplateOther ""
esf.scanToNet.inst.5.customFilenameEnable "false"
esf.scanToNet.inst.5.customFilenameSelected ""
esf.scanToNet.inst.5.pageBreakEnable "false"
esf.scanToNet.inst.5.includePage "false"
esf.scanToNet.inst.5.pageBreakOptions "0"
esf.scanToNet.inst.5.staticBreakVal "0"
esf.scanner.inst.5.appId "scanToNet"
esf.scanner.inst.5.instanceId "3"
esf.scanner.inst.5.originalMediaSize.unlock "true"
esf.scanner.inst.5.originalMediaSize.dynamic "4"
esf.scanner.inst.5.orientation.unlock "true"
esf.scanner.inst.5.orientation "0"
esf.scanner.inst.5.scanDuplex.unlock "true"
esf.scanner.inst.5.scanDuplex "0"
esf.scanner.inst.5.contentType.unlock "true"
esf.scanner.inst.5.contentType.dynamic "0"
esf.scanner.inst.5.fileFormat.unlock "true"
esf.scanner.inst.5.fileFormat "2"
esf.scanner.inst.5.pdfVersion.unlock "true"
esf.scanner.inst.5.pdfVersion "3"
esf.scanner.inst.5.resolution.unlock "true"
esf.scanner.inst.5.resolution "200"
esf.scanner.inst.5.color.unlock "true"
esf.scanner.inst.5.color "1"
esf.scanner.inst.5.scanPreview.unlock "false"
esf.scanner.inst.5.scanPreview "0"
esf.scanner.inst.5.jobBuild.unlock "false"
esf.scanner.inst.5.jobBuild "0"
esf.scanner.inst.5.edgeToEdge.unlock "true"
esf.scanner.inst.5.edgeToEdge "0"
esf.scanner.inst.5.contrast.unlock "true"
esf.scanner.inst.5.contrast "-1"
esf.scanner.inst.5.darkness.unlock "true"
esf.scanner.inst.5.darkness "5"
esf.scanner.inst.5.shadowDetail.unlock "true"
esf.scanner.inst.5.shadowDetail "0"
esf.scanner.inst.5.backgroundRemoval.unlock "true"
esf.scanner.inst.5.backgroundRemoval "0"
esf.scanner.inst.5.parentCode ""
esf.cifs.inst.5.appId "scanToNet"
esf.cifs.inst.5.instanceId "3"
esf.cifs.inst.5.cifs.address "\\172.16.0.40\fs\Usuarios\Pv29\Compras\Compartilhado\Scanner"
esf.cifs.inst.5.cifs.ldapPathAttribute ""
esf.cifs.inst.5.cifs.ldapUseridAttribute ""
esf.cifs.inst.5.cifs.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.5.cifs.ldapPathSuffix ""
esf.cifs.inst.5.cifs.domain ""
esf.cifs.inst.5.cifs.winsServer ""
esf.cifs.inst.5.cifs.brdAddr ""
esf.cifs.inst.5.cifs.isKerberos "false"
esf.cifs.inst.5.cifs.authOptions "3"
esf.cifs.inst.5.cifs.uName "copymaq"
esf.cifs.inst.5.cifs.pwd ""
esf.cifs.inst.5.cifs.fldrCrtn "false"
esf.cifs.inst.5.cifs.testUserPermissions "true"
esf.cifs.inst.5.address ""
esf.cifs.inst.5.ldapPathAttribute ""
esf.cifs.inst.5.ldapUseridAttribute ""
esf.cifs.inst.5.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.5.ldapPathSuffix ""
esf.cifs.inst.5.domain ""
esf.cifs.inst.5.winsServer ""
esf.cifs.inst.5.brdAddr ""
esf.cifs.inst.5.authOptions "0"
esf.cifs.inst.5.uName ""
esf.cifs.inst.5.pwd ""
esf.cifs.inst.5.fldrCrtn "false"
esf.cifs.inst.5.testUserPermissions "false"
esf.cifs.inst.5.parentCode ""
esf.scanToNet.inst.6.appId "scanToNet"
esf.scanToNet.inst.6.instanceId "4"
esf.scanToNet.inst.6.name "Gerencia"
esf.scanToNet.inst.6.fileName "Digitalizar"
esf.scanToNet.inst.6.uEntrFileName "false"
esf.scanToNet.inst.6.fldrNav "true"
esf.scanToNet.inst.6.printConfm "1"
esf.scanToNet.inst.6.appTimeStmp "true"
esf.scanToNet.inst.6.ovrWrite "true"
esf.scanToNet.inst.6.enXmlInd "false"
esf.scanToNet.inst.6.fldrCrtn "false"
esf.scanToNet.inst.6.stUnameFldr "false"
esf.scanToNet.inst.6.emailTo ""
esf.scanToNet.inst.6.emailToSubject ""
esf.scanToNet.inst.6.emailToSubStatus "true"
esf.scanToNet.inst.6.showThumbnail "7"
esf.scanToNet.inst.6.scnPr "3"
esf.scanToNet.inst.6.autocrop.unlock "false"
esf.scanToNet.inst.6.autocrop "0"
esf.scanToNet.inst.6.despeckle.unlock "false"
esf.scanToNet.inst.6.despeckle "0"
esf.scanToNet.inst.6.deskew.unlock "false"
esf.scanToNet.inst.6.deskew "0"
esf.scanToNet.inst.6.autoBlankPageRemoval.unlock "false"
esf.scanToNet.inst.6.autoBlankPageRemoval "0"
esf.scanToNet.inst.6.autoBlankPageRemovalTolerance "5"
esf.scanToNet.inst.6.ocrAdjustments.language.en "1"
esf.scanToNet.inst.6.frenchOcrLanguage "0"
esf.scanToNet.inst.6.germanOcrLanguage "0"
esf.scanToNet.inst.6.spanishOcrLanguage "0"
esf.scanToNet.inst.6.italianOcrLanguage "0"
esf.scanToNet.inst.6.portugueseOcrLanguage "0"
esf.scanToNet.inst.6.danishOcrLanguage "0"
esf.scanToNet.inst.6.dutchOcrLanguage "0"
esf.scanToNet.inst.6.norwegianOcrLanguage "0"
esf.scanToNet.inst.6.swedishOcrLanguage "0"
esf.scanToNet.inst.6.finnishOcrLanguage "0"
esf.scanToNet.inst.6.hungarianOcrLanguage "0"
esf.scanToNet.inst.6.polishOcrLanguage "0"
esf.scanToNet.inst.6.ocrAdjustments.ocrAdditionalProcessing.unlock "false"
esf.scanToNet.inst.6.autoRotateOcr "0"
esf.scanToNet.inst.6.inverseDetectionOcr "1"
esf.scanToNet.inst.6.despeckleOcrOcr "0"
esf.scanToNet.inst.6.autoContrastEnhanceOcr "0"
esf.scanToNet.inst.6.childPrefix ""
esf.scanToNet.inst.6.customPromptEnable "false"
esf.scanToNet.inst.6.enable1stPageBarcode "false"
esf.scanToNet.inst.6.barcodeTemplate1st ""
esf.scanToNet.inst.6.enableOtherPageBarcode "false"
esf.scanToNet.inst.6.barcodeTemplateOther ""
esf.scanToNet.inst.6.customFilenameEnable "false"
esf.scanToNet.inst.6.customFilenameSelected ""
esf.scanToNet.inst.6.pageBreakEnable "false"
esf.scanToNet.inst.6.includePage "false"
esf.scanToNet.inst.6.pageBreakOptions "0"
esf.scanToNet.inst.6.staticBreakVal "0"
esf.scanner.inst.6.appId "scanToNet"
esf.scanner.inst.6.instanceId "4"
esf.scanner.inst.6.originalMediaSize.unlock "true"
esf.scanner.inst.6.originalMediaSize.dynamic "4"
esf.scanner.inst.6.orientation.unlock "true"
esf.scanner.inst.6.orientation "0"
esf.scanner.inst.6.scanDuplex.unlock "true"
esf.scanner.inst.6.scanDuplex "0"
esf.scanner.inst.6.contentType.unlock "true"
esf.scanner.inst.6.contentType.dynamic "0"
esf.scanner.inst.6.fileFormat.unlock "true"
esf.scanner.inst.6.fileFormat "2"
esf.scanner.inst.6.pdfVersion.unlock "true"
esf.scanner.inst.6.pdfVersion "3"
esf.scanner.inst.6.resolution.unlock "true"
esf.scanner.inst.6.resolution "200"
esf.scanner.inst.6.color.unlock "true"
esf.scanner.inst.6.color "1"
esf.scanner.inst.6.scanPreview.unlock "false"
esf.scanner.inst.6.scanPreview "0"
esf.scanner.inst.6.jobBuild.unlock "false"
esf.scanner.inst.6.jobBuild "0"
esf.scanner.inst.6.edgeToEdge.unlock "true"
esf.scanner.inst.6.edgeToEdge "0"
esf.scanner.inst.6.contrast.unlock "true"
esf.scanner.inst.6.contrast "-1"
esf.scanner.inst.6.darkness.unlock "true"
esf.scanner.inst.6.darkness "5"
esf.scanner.inst.6.shadowDetail.unlock "true"
esf.scanner.inst.6.shadowDetail "0"
esf.scanner.inst.6.backgroundRemoval.unlock "true"
esf.scanner.inst.6.backgroundRemoval "0"
esf.scanner.inst.6.parentCode ""
esf.cifs.inst.6.appId "scanToNet"
esf.cifs.inst.6.instanceId "4"
esf.cifs.inst.6.cifs.address "\\172.16.0.40\fs\Usuarios\Pv29\Gerencia\Compartilhado\Scanner"
esf.cifs.inst.6.cifs.ldapPathAttribute ""
esf.cifs.inst.6.cifs.ldapUseridAttribute ""
esf.cifs.inst.6.cifs.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.6.cifs.ldapPathSuffix ""
esf.cifs.inst.6.cifs.domain ""
esf.cifs.inst.6.cifs.winsServer ""
esf.cifs.inst.6.cifs.brdAddr ""
esf.cifs.inst.6.cifs.isKerberos "false"
esf.cifs.inst.6.cifs.authOptions "3"
esf.cifs.inst.6.cifs.uName "copymaq"
esf.cifs.inst.6.cifs.pwd ""
esf.cifs.inst.6.cifs.fldrCrtn "false"
esf.cifs.inst.6.cifs.testUserPermissions "true"
esf.cifs.inst.6.address ""
esf.cifs.inst.6.ldapPathAttribute ""
esf.cifs.inst.6.ldapUseridAttribute ""
esf.cifs.inst.6.alwaysUseMFPCredentialUsername "false"
esf.cifs.inst.6.ldapPathSuffix ""
esf.cifs.inst.6.domain ""
esf.cifs.inst.6.winsServer ""
esf.cifs.inst.6.brdAddr ""
esf.cifs.inst.6.authOptions "0"
esf.cifs.inst.6.uName ""
esf.cifs.inst.6.pwd ""
esf.cifs.inst.6.fldrCrtn "false"
esf.cifs.inst.6.testUserPermissions "false"
esf.cifs.inst.6.parentCode ""
